.select .main {
    min-width: 50px;
    min-height: 20px;
    display: inline-block;
    /*border: 1px solid black;*/
    border-bottom: 1px solid black;
    width: 50px;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.list.selected {
    background-color: blue;
    color: wheat;
    padding: 5px;
}